<?xml version="1.0"?>
<ServersConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--连接池-->
  <Servers>
    <Server poolName="default" ip="127.0.0.1" port="11211" ></Server>
    <Server poolName="server1" ip="127.0.0.1" port="11212" ></Server>
    <Server poolName="server2" ip="127.0.0.1" port="11213" ></Server>
  </Servers>
  <!--默认连接池-->
  <DefaultServer>server2</DefaultServer>
  <!--初始连接数-->
  <InitConnections>3</InitConnections>
  <!--最小连接数-->
  <MinConnections>3</MinConnections>
  <!--最大连接数-->
  <MaxConnections>5</MaxConnections>
  <!--设置连接的套接字超时(毫秒)-->
  <SocketConnectTimeout>1000</SocketConnectTimeout>
  <!--设置套接字超时读取(毫秒)-->
  <SocketTimeout>3000</SocketTimeout>
  <!--设置维护线程运行的睡眠时间。
      如果设置为0，那么维护线程将不会启动,如果设置30就是每隔30秒醒来一次-->
  <MaintenanceSleep>30</MaintenanceSleep>
  <!--获取或设置池的故障标志。  
      如果这个标志被设置为true则socket连接失败，将试图从另一台服务器返回一个套接字如果存在的话。  
      如果设置为false，则得到一个套接字如果存在的话。否则返回NULL，如果它无法连接到请求的服务器-->
  <Failover>true</Failover>
  <!--如果为false，对所有创建的套接字关闭Nagle的算法-->
  <Nagle>false</Nagle>
</ServersConfigInfo>